@use "variables";

.lines .line {
    border-right: 1px solid #E9E9E9;
}

.input-search {
    border-bottom: 1px solid #ccc;
    // border-radius: 60px;
    // outline: none;
}

.new {
    border-radius: 10px;
}

.learn-more .line {
    border-bottom: 1px solid variables.$black;
}

.button {
    border-radius: 7px;
    border: 1px solid variables.$black;
}