@use "variables";

.new, .extra-care, .cart-link {
    color: variables.$white;
}

.scroll-down a, .intro-link, .icons a {
    color: variables.$black;
}

.types, .info p {
    color: grey;
}

.lines .line {
    color: #FBF4E5;
}

.intro-link {
    background-color: variables.$white;
}

.extra-care, .cart-link {
    background-color: variables.$black;
}

// .input-search {
//     background-color: gainsboro;
// }

.new {
    background-color: rgba(0, 0, 0, 0.2);
}