.lines .line {
    font-size: 30em;
}

.comfy-maxer {
    font-size: 3em;
}

.sofiapro {
    font-size: 44px;
}

.site-name {
    font-size: 32px;
}

.products, .registered {
    font-size: 22px;
}

.vertical {
    font-size: 14px;
}

.trademark, .new {
    font-size: 12px;
}