body {
    font-family: "Sofia Pro";
}

.logo, .vertical {
    font-family: 'Circular Std';
}

.products {
    font-family: 'Sofia Pro ExtraLight';
}

.info-text p {
    font-family: 'Sofia Pro Light';
}

.comfy-maxer {
    font-family: 'Sofia Pro Ultralight';

}