.wrapper {
    margin: 0 auto;
}

h1, .site-name, .sofiapro, .sneakers-img, .vertical-menu {
    margin: 0;
}

.lines .line {
    margin-top: -100px;
}

.icon {
    margin: 0 10px;
}

.icon:last-child {
    margin-right: 0;
}

.input-search {
    margin-top: -10px;
}

.products {
    margin: 45px 0;
}

.new {
    margin-left: 10px;
    margin-bottom: -3px;
}

.something {
    margin-bottom: 30px;
}

.learn-more {
    margin-bottom: 100px;
}

.info-text {
    margin-bottom: 5%;
}

.info p {
    margin: 2% 0;
}

.button {
    margin: 5px 0;
}

.button i, .cartlink {
    margin-right: 8px;
}

.vertical-menu li {
    margin: 10px 0;
}