@media screen and (max-width: 1024px) {
    .comfy-maxer {
        font-size: 3em;
    }

    .info {
        width: 80%;
    }

    .lines .line {
        font-size: 22em;
    }
}

@media screen and (max-width: 768px) {
    .lines, .scroll-down {
        display: none;
    }

    .learn-more {
        flex-direction: column;
        font-size: 2em;
        margin-bottom: 10px;
    }

    .learn-more .line {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        margin-bottom: 25px;
    }

    .types-of-products ul {
        display: flex;
        justify-content: space-around;
    }

    .something {
        justify-content: center;
    }

    .info {
        position: static;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .info-links {
        justify-content: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .extra-care, .foot-tech {
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .sneakers {
        position: static;
    }

    .vertical {
        writing-mode: horizontal-tb;     ;
    }

    .vertical-menu {
        transform: rotate(0deg); 
    }

    .vertical-menu li {
        margin: 0 10px;
    }
}

@media screen and (max-width: 425px) {
    .types-of-products ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .products {
        margin: 15px 0;
        font-size: 1.3em;
    }
    
    .info-links {
        flex-direction: column;
    }

    .vertical-menu {
        display: flex;
        flex-direction: column;
    }

    .vertical-menu li {
        margin: 10px 0;
    }

    .cartlink {
        margin-right: 0px;
    }
}

@media screen and (max-width: 375px) {
    .extra-care, .foot-tech {
        width: 50%;
    }
}