.wrapper {
    max-width: 1200px;
}

.sneakers-img {
    max-width: 100%;
}

.input-search {
    width: 100%;
}

.info {
    width: 50%;
}

.lines .line {
    width: 21%;
}

.learn-more .line {
    width: 60px;
}